#myHeroHeader {
  text-align: center;
  /* background-color: var(--color-vanilla-light); */
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}

#myHeroHeaderContainer {
  margin: auto;
  z-index: 1;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#myHeroHeader #hero-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* dynamically set images, div img pair */
#header-symbol {
  display: flex;
  justify-content: center;
}

#header-symbol-img {
  width: 10vh;
}

/* dynamically set images, div img pair */
#header-wordmark {
  display: flex;
  justify-content: center;
}

#header-wordmark-img {
  width: 20vh;
}

#myHeroHeader h1 {
  color: var(--color-vanilla-dark);
}

#myHeroHeader blockquote-wrapper {
  display: flex;
  min-height: 70%;
}

#myHeroHeader h1 {
  color: #ff6347;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#myHeroHeader h2 {
  color: var(--color-vanilla-red) !important;
  text-align: center;
}

#myHeroHeader p {
  font-size: calc(var(--base-font-size) * var(--p-large-scale));
  color: var(--color-vanilla-dark);
}

#header-wordmark {
  min-width: 300px;
  max-width: 40vh;
}


/* ë.frozenVanilla animated element */


.ë,
.ë-newElement {
  color: var(--color-vanilla-pink);
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 40vh;
  opacity: 0.1;
  display: none;
}



.icecream {
  background-image: var(--assets-var);
  position: absolute;
  min-height: 60vh;
  min-width: 60vh;
  height: 60vh;
  width: 60vh;
  z-index: -1;
  opacity: 0.5;
  display: none;
}


.action-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.action-container p {
  line-height: 1.6;
  color: var(--color-vanilla-dark);
  font-size: calc(var(--base-font-size) * var(--p-large-scale));
}

#myHeroHeader blockquote {
  color: var(--color-vanilla-pink);
  min-height: 30vh;
  max-width: 600px;
  width: 60vw;
  min-width: 300px;
  margin: auto;
  width: 80%;
  padding: 0;
  align-items: center;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}