.mygenbutton {
    padding: 10px 20px;
    background-color: var(--color-vanilla-orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin: auto;
    text-align: center;
}

.mydocbutton {
    padding: 10px 20px;
    background-color: var(--color-vanilla-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin: auto;
    text-align: center;
}



.headerbutton {
    min-height: 5vh;
}

button::not(.weatherapp-buttons) {
    font-size: calc(var(--base-font-size) * var(--button-text-title));
    min-width: 250px;
    max-width: 400px;
    max-height: 8vh;
    transition: var(--hover-transition);
}

button:hover {
    transform: var(--hover-scale);
}

.weatherapp-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: center;
}

.inner_button_wrapper {
    display: flex;
    grid-gap: 1vh;
    justify-content: center;
}

.weatherapp-button {
    background-color: var(--color-vanilla-blue);
    border: none;
    transition: var(--hover-transition);
    max-width: 90%;
    height: 5vh;
    width: 5vh;
    max-height: 10vh;
    max-width: 10vh;
    border-radius: 100%;
}