# Turn on Rewrite Engine
RewriteEngine On

# Ensure mod_rewrite is available
<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|svg|ico)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
</IfModule>

<IfModule mod_mime.c>
    AddType text/css .css
</IfModule>

<IfModule mod_rewrite.c>



    # Dynamically rewrite any path to /?burst=path
    RewriteCond %{REQUEST_URI} !^/env/vanilla\.txt$
    RewriteCond %{REQUEST_URI} !^vanilla\.txt$
    RewriteCond %{REQUEST_URI} !^/env/vanilla\.css$
    RewriteCond %{REQUEST_URI} !^vanilla\.css$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ /?burst=$1 [L,QSA,R=301]


    # Skip rewriting for existing files
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Serve "index.html" for all other requests not accessing a physical file
    RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|svg|ico)$ [NC]
    RewriteRule ^ index.html [L]

    SetEnvIf Request_URI "^/?burst=([^&]+)&name_space=([^&]+)&entry=([^&]+)$" statePath=?burst=%1&name_space=%2&entry=%3


</IfModule>
