# Turn on Rewrite Engine
RewriteEngine On

# Ensure mod_rewrite is available
<IfModule mod_headers.c>
    # Header set Content-Security-Policy "default-src 'self'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; font-src 'self';"
</IfModule>
<IfModule mod_rewrite.c>

    RewriteCond %{REQUEST_URI} ^/$
    RewriteCond %{QUERY_STRING} ^$
    RewriteRule ^ /?burst=home [L,R=302] 

    # Dynamically rewrite any path to /?burst=path
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ /?burst=$1 [L,QSA,R=301]


    # Skip rewriting for existing files
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Serve "index.html" for all other requests not accessing a physical file
    RewriteCond %{REQUEST_URI} !\.(js|css|jpg|jpeg|png|gif|svg|ico)$ [NC]
    RewriteRule ^ index.html [L]

</IfModule>
