.mygenbutton {
    padding: 10px 20px;
    background-color: var(--color-vanilla-orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin: auto;
    text-align: center;
}

.mydocbutton {
    padding: 10px 20px;
    background-color: var(--color-vanilla-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin: auto;
    text-align: center;
}

.headerbutton {
    min-height: 5vh;
}

button {
    font-size: calc(var(--base-font-size) * var(--button-text-title));
    min-width: 250px;
    max-width: 400px;
    max-height: 8vh;
    transition: var(--hover-transition);
}

button:hover {
    transform: var(--hover-scale);
}