#mainNav-container{
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 99, 71, 0.2)); Lighter gradient */
    color: #333;
    text-align: center;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.1); */
    /* border-radius: 50px; */
    height:50%;
    width:90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}


#mainNav ul {
    width:80%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin:auto;
    padding: 0;
    overflow: hidden;
    justify-content: space-evenly;
}

#mainNav ul li {
    display: inline;
    cursor: pointer;

}


#logo-nav{
    height:5vh;
}


#mainNav ul li span {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

#mainNav ul li span:hover, #mainNav ul li span:active {
    background-color: #f75f88;
    color: white;
}
