<nav id="mainNav-container">
    <ul>
        <li> <img id="logo-nav" class="nav-image"
                src="https://storage.googleapis.com/arberinc_public/vanillaBurst/brandAssets/images/icecream-symbol.png"
                alt="vanillaBurst symbol logo" class="nav-link" data-route="homeview" /></li>
        <li><span class="nav-link" data-route="homeview">Home</span></li>
        <li><span class="nav-link" data-route="documentation">Docs</span></li>
        <li><span class="nav-link" data-route="gen">Generate</span></li>
        <li> <a href="https://github.com/arberrexhepi/vanillaBurstGame"> <img id="logo-nav" class="nav-image"
                    src="https://storage.googleapis.com/arberinc_public/vanillaBurst/brandAssets/images/github-mark.png"
                    alt="github mark" class="nav-link" /></a></li>
    </ul>

</nav>