<div id="mainNav" class="navigation-container"></div>
<div id="heroHeader-component" class="heroHeader-component"></div>
<article>
    <section class="content-container">
        <h1 class="config-title">Plan and Generate</h1>
        <small class="help-card">This is also a demo of how updateComponent() and componentBurst cache function.
            [Note]:
            Although the config
            generation components are functioning correctly, the actual configs are currently not outputting to-spec
            structures [Work In Progress].</small>
        <blockquote>Use the config cards to quickly generate viewConfig.js and view.js files. The results will be
            printed to
            the Config
            Results component.</blockquote>

        <div class="config-canvas"></div>

    </section>
    <section class="content-container">
        <div id="body-actionButton-component" class="actionButton-container body-button"></div>

    </section>
</article>