#config-generation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
    grid-gap: 5vh;
}
.config-canvas{
    justify-content: center;
    margin-top:5vh;
    display: flex;
    flex-wrap:wrap;
    grid-gap: 5vh;
    width:100%;

}
.genform{

    min-width: 300px;
    width: 30vw;
    max-width: 400px;
    background-color: white;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.05);
    padding:2vh;
    border-radius:3vh;
}
.genform > form#parentConfigForm input{
    width:90%;
}


.config-title{
    width: 100%;
    text-align: center;
}

.config-canvas pre{

    min-width: 300px;
    width: 67.5vw;
    max-width: 1000px;
    /* background-color: #d9dfe1; */
    background-color: #294a55;
    color:#d9dfe1;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.05);
    padding:2vh;
    border-radius:3vh;
    white-space: pre-wrap;      
    word-wrap: break-word;
    margin-bottom:5vh;
}
.config-canvas h3{

    margin-bottom:2.5vh;
}

#config-container #doc-button-wrapper{

    width:100%;
    margin:auto;
}
.componentTemplate{
    display:none;
}

.genform > form#parentConfigForm legend{
font-weight:700;
}
.componentTemplate-container{

    background-color: #e9f3f6;
    padding: 1vh;
    border-radius: 2vh;
    margin-top:2vh;
    margin-bottom:2vh;
}

small{
    max-width:800px;
    width: 50%;
    min-width: 250px;
    display: block;
    margin:auto
}