
#myHeroHeader {
    text-align: center;
    padding: 20px;
    background-color: #032f3f;
    color: #fdfdf1;
}

#myHeroHeader img {
    width: 100px;
    height: auto;
}

#myHeroHeader h1 {
    color: #fdfdf1;
}

#myHeroHeader blockquote {
    color: #f75f88;
}

#myHeroHeader hr {
    border-color: #f75f88;
}

#myHeroHeader .action-container h1 {
    color: #ff6347;
}

#myHeroHeader .action-container h1 em {
    color: #f75f88;
}

#myHeroHeader .action-container p {
    color: #333;
}
