<img src="https://storage.googleapis.com/arberinc_public/vanillaBurst/brandAssets/images/symbol.png"
    alt="vanillaBurst logo">
<h1>Welcome to vanillaBurst</h1>
<blockquote>
    <p>"A JS packaging framework that ensures your required files are always ready."</p>
</blockquote>
<hr>
<div class="action-container">
    <h1>Let's <em>vanillaBurst</em> to the Docs!</h1>
    <p>Explore the power and flexibility of vanillaBurst. Dive into our comprehensive documentation to learn how to
        use vanillaBurst, understand its core concepts, and much more.</p>
    <div id="doc-button_wrapper"></div>
</div>