<div id="content-container">
    <article id="gameIntro">
        <section>
            <h1>What is vanillaBurst?</h1>
            <ul>
                <li>A standalone or plugin solution.</li>
                <li>Ensures your required files are ready for the function, DOM, and server you are interacting with.
                </li>
                <li>Control the behavior of an existing JS project or create your own entirely!</li>
                <li>Builds and prepares the project as [vanillaApp].</li>
                <li>No additional helper functions needed if all you need is JS files promised exactly where you need
                    them.
                </li>
                <li>Never wonder why your clicks aren't firing again, especially in something like WordPress!</li>
            </ul>

            <h2>What are vanillaScoops?</h2>
            <small>Scoops are essentially plugins or components. A Scoop is any combination of a landing, components and
                function filed that can be added as a package to any number of landings. These can be visual or
                functional.
                There's many throughout this site!</small>

            <div id="weather-wrapper"></div>

            <h2>What else can vanillaBurst do?</h2>
            <ul>
                <li>Packs and load balances a project's files by endpoint i.e: ?burst=home.</li>
                <li>Has the capability for state caching and state interaction via server calls and signals.</li>
                <li>The simplified server communication [helper function "serverRender"] alongside the [helper
                    function
                    "myBurst"] allows for dynamic and quick interaction and availability.</li>
            </ul>
            <br />


            <p>Copyright © arbër Inc | Apache 2.0 License</p>

    </article>
</div>