<section class="paddless-wrapper">

    <div class="list-wrapper">
        <ul>

            <li class="card">
                <h2>Promised Renders</h2>
                <p>Ensures that all required files are ready for your functionality, and your configuration accessible
                    through <code>vanillaPromise</code>.
                </p>
            </li>
            <li class="card">
                <h2>Load Balancing</h2>
                <p>Runtime serves <code> vanillaApp</code>, loading only the scripts needed for the current state.</p>
            </li>
            <li class="card">
                <h2>Developer Friendly</h2>
                <p>vanillaBurst can function as Standalone or as a Plugin, and is developer extensible through
                    <code>vanillaScoops</code>.
                </p>
            </li>

        </ul>
    </div>
</section>
<section class="content-container">

    <div class="scoop-wrapper hero-scoops">
        <div class="scoop  section-header">
            <div class="scoop-img" data-img-src="scoop.png" data-img-alt="What are vanillaScoops?"></div>
            <h2>Meet Scoops!</h2>
            <p> - vanillaBurst JS plugins! They're a mix of landings, components, and function files.<br />
                them to any landing for a visual or functional boost.<br />
                Explore the site to see them in
                action!
            </p>
        </div>
        <div id="weather-wrapper"></div>
        <div id="chatGPT-wrapper"></div>

    </div>
</section>
<section class="content-container hover">
    <h2>What else can vanillaBurst do?</h2>
    <ul>
        <li>Packs and load balances a project's files by endpoint i.e: ?burst=home.</li>
        <li>Has the capability for state caching and state interaction via server calls and signals.</li>
        <li>The simplified server communication [helper function " serverRender"] alongside the [helper
            function "myBurst" ] allows for dynamic and quick interaction and availability.</li>
    </ul>
    <p>Copyright © arbër Inc | Apache 2.0 License</p>
</section>