<div id="mainNav" class="navigation-container"></div>
<div id="heroHeader-component" class="heroHeader-component"></div>
<article>
    <section class="paddless-wrapper">

        <div class="list-wrapper">
            <ul>
                <li class="card">
                    <h2>Promised Loading</h2>
                    <p>The runtime predictably serves <code>vanillaApp</code> by loading scripts and resources based
                        on state-driven routes and hierarchy, minimizing large resource requests and optimizing
                        performance.</p>
                </li>
                <li class="card">
                    <h2>Package Management</h2>
                    <p>Define and manage reusable packages within your <code>config.json</code>. Organize components,
                        utilities, and integrations for consistent deployment across routes, promoting modularity and
                        code reuse.</p>
                </li>
                <li class="card">
                    <h2>Programmer Friendly</h2>
                    <p><code>vanillaBurst</code> can operate as a standalone solution or integrated plugin. <br>
                        It is extensible to customize and expand functionality through <code>vanillaScoops</code> for
                        tailored development needs.
                    </p>
                </li>

            </ul>

        </div>
    </section>
    <section class="content-container">

        <div class="scoop-wrapper hero-scoops">
            <div class="scoop  section-header">
                <div class="scoop-img" data-img-src="scoop.png" data-img-alt="What are vanillaScoops?"></div>
                <h2>Meet Scoops!</h2>
                <p> - vanillaBurst JS plugins! They're a mix of landings, components, and function files.<br />
                    them to any landing for a visual or functional boost.<br />
                    Explore the site to see them in
                    action!
                </p>
            </div>
            <div id="myweather-component" class="myweather-component scoop card"></div>
            <div id="chatGPT-wrapper"></div>

        </div>
    </section>
    <section class="content-container hover">
        <h2>What else can vanillaBurst do?</h2>
        <ul class="extended-features">
            <li class="card">
                <h2>Documentation <em>is</em> the App</h2>
                <p>Ever struggled with documentation-to-application synchronization? <br>
                    vanillaBurst's configuration-driven architecture your documentation config is your application
                    code.<br>
                    This approach reduces ambiguity and minimizes miscommunication, keeping
                    all team members aligned for seamless collaboration.</p>
            </li>
            <li class="card">
                <h2>Re-config vs Re-deploy</h2>
                <p>Ever needed to deactivate a route or a component and had to redeploy? <br>
                    Enabling a rapid deploy cycle with immediate feedback, is a core vanillaBurst
                    functionality. <br>
                    You can effortlessly update your deployed application by simply changing your
                    <code>config.json</code>
                </p>
            </li>

            <li class="card">
                <h2>Granular Control</h2>
                <p>Stop hunting for import statements through hundreds of files! <br>
                    Configure and manage route-specific and reusable functions or packages, shared utilities, vendor
                    imports, vanillaScoop plugins in your
                    <code>config.json</code>
                </p>
            </li>
        </ul>
    </section>
    <section class="content-container">
        <div id="body-actionButton-component" class="actionButton-container body-button"></div>

    </section>
</article>