#mainNav-container {
    color: var(--color-vanilla-dark);
    text-align: center;
    height: 50%;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}


#mainNav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: auto;
    padding: 0;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
}

#mainNav ul li {
    display: inline;
    cursor: pointer;


    transition: var(--hover-transition);
}

#mainNav ul li:hover {
    transform: var(--hover-scale);
}

.nav-image {
    height: 5vh;
    max-height: 5vh;
}

@media (max-width: 768px) {
    .nav-image {
        height: 3.5vh;
        max-height: 3.5vh;
    }
}

#mainNav ul li span {
    display: inline-block;
    color: var(--color-vanilla-dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 1vh;
}

#mainNav ul li span:hover,
#mainNav ul li span:active {
    background-color: var(--color-vanilla-red);
    color: white;
}

#mainNav ul li span.active {
    background-color: var(--color-vanilla-red);
    color: white;
}