SetEnvIf Origin "^http(s)?://(.+\.)?vanillaburstgame:80/$" AccessAllowed=1

<FilesMatch "^vanilla\.txt$">
    AuthType Basic
    AuthName "Restricted Content"
    AuthUserFile /env/.htpasswd
    Require valid-user
    Require env AccessAllowed
    Satisfy Any
</FilesMatch>