<div class="weather-app" id="weatherapp">
    <div class="weather-location">
        <h2 class="city-name" id="city-name">Geneva</h2>
        <p class="country-name" id="country-name">Switzerland</p>
    </div>
    <div class="weather-current">
        <div class="weather-icon-temp">
            <div class="weather-icon">
                <img src="https://cdn.weatherapi.com/weather/64x64/day/116.png" alt="Weather icon" id="weather-icon">
            </div>
            <h3 class="temperature" id="temperature">18°C</h3>
        </div>
        <div class="weather-info">
            <p class="description" id="description">Partly cloudy</p>
            <p class="wind-speed" id="wind-speed">Wind speed: 6.1 kph</p>
        </div>
    </div>
    <div id="timer-info">
        <p>This Scoop updates every minute.</p>
        <p>It uses data from</p>
        <p><code>dataSchema</code></p>
    </div>
    <div id="weather-timer-container">
        <div class="weather-timer">14</div>
    </div>
</div>