<div class="weather-app" id="weather-app">
    <div id="weather-location" class="weather-location">
        <h2 class="city-name" id="city-name">Geneva</h2>
        <p class="country-name" id="country-name">Switzerland</p>
    </div>
    <div id="weather-current" class="weather-current">
        <div id="weather-icon" class="weather-icon-temp">
            <div id="weather-icon-wrapper" class="weather-icon">
                <img src="https://cdn.weatherapi.com/weather/64x64/day/116.png" alt="Weather icon">
            </div>
            <h3 class="temperature" id="temperature">18°C</h3>
        </div>
        <div id="weather-info" class="weather-info">
            <p class="description" id="description">Partly cloudy</p>
            <p class="wind-speed" id="wind-speed">Wind speed: 6.1 kph</p>
        </div>
    </div>
    <div id="timer-info" class="timer-info">
        <p id="p1">This Scoop updates every minute.</p>
        <p id="p2">It uses data from</p>
        <p id="p3"><code>dataSchema</code></p>
    </div>
    <div id="weather-timer-container" class="weather-timer-container">
        <div class="weather-timer" id="weather-timer">0</div>
    </div>
    <div class="button-wrapper"></div>
</div>