.weather-app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

}

.weather-location {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.city-name {
    grid-row: 1/1;
}

.country-name {
    grid-row: 2/2;
}

.weather-current {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.weather-icon-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer-info {
    grid-column: 1 / 2;
    grid-row: 3;
}

#weather-timer-container {
    grid-column: 1;
    grid-row: 4;
}


.weather-location .city-name {
    font-size: calc(var(--base-font-size) * var(--h1-scale));
    color: #f75f88;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.weather-location .city-name:hover {
    color: var(--color-vanilla-orange);
}

.weather-current {
    transition: all 0.3s ease-in-out;
}

.weather-current:hover {
    transform: scale(1.02);
}

.weather-current .temperature,
.weather-timer {
    font-size: calc(var(--base-font-size) * var(--h2-scale));
    color: var(--color-vanilla-orange);
    transition: color 0.3s ease-in-out;
}

.weather-current .temperature:hover {
    color: var(--color-vanilla-blue);
}

.weather-current .description p {
    font-size: calc(var(--base-font-size) * var(--p-large-scale));
    color: var(--color-vanilla-blue);
    transition: color 0.3s ease-in-out;
}

.weather-timer-container {
    font-size: calc(var(--base-font-size) * var(--p-large-scale));
}

.weather-current .description:hover {
    color: var(--color-vanilla-orange);
}

.weather-icon img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.weather-icon img:hover {
    transform: rotate(360deg);
}

#timer-info {
    margin-top: 2vh;
    color: teal;
}

.wind-speed {
    color: cornflowerblue;
}

.weather-location .country-name {
    font-size: calc(var(--base-font-size) * var(--p-large-scale));
}

.weather-current .wind-speed {
    font-size: calc(var(--base-font-size) * var(--p-large-scale));
}

#timer-info p {
    font-size: calc(var(--base-font-size) * var(--p-large-scale));
}

.weather-timer-container p {
    font-size: calc(var(--base-font-size) * var(--p-large-scale));
}

.weather-timer {
    font-size: calc(var(--base-font-size) * var(--p-large-scale));
}

@media (max-width: 768px) {
    .weather-location .country-name {
        font-size: calc(var(--base-font-size) * var(--p-scale));
    }

    .weather-current .wind-speed {
        font-size: calc(var(--base-font-size) * var(--p-scale));
    }

    #timer-info p {
        font-size: calc(var(--base-font-size) * var(--p-scale));
    }

    .weather-timer-container p {
        font-size: calc(var(--base-font-size) * var(--p-scale));
    }

    .weather-timer {
        font-size: calc(var(--base-font-size) * var(--p-scale));
    }
}